/* ------------------------------
/*  -------    GENERAL    -------
/* -----------------------------*/

:root {
  --green: #008000;
  --beige: #faf1ed;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trip Sans";
}

.container {
  max-width: 1184px;
  margin: auto;
}

.black {
  color: black;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  overflow: hidden;
  margin-bottom: 20px;
}

h1 {
  font-family: "Trip Sans Bold";
  font-weight: bold;
}

h2 {
  font-family: "Trip Sans Bold";
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-family: "Trip Sans Bold";
  margin-bottom: 15px;
}

section a:not(.btn):not(.plain):hover {
  text-decoration: underline;
}

.link.blackbutton {
  background: black;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-size: 18px;
  line-height: 160%;
  min-width: 40px;
  display: inline-block;
  height: 27px;
  border-radius: 20px;
  transition: background-color 0.1s linear, border-color 0.1s linear;
}
.link.blackbutton:hover {
  background: #333333;
}

section + section {
  margin-top: 50px;
}

.card img:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

a.location {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.fullwidth {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  /* https://coderwall.com/p/hkgamw/creating-full-width-100-container-inside-fixed-width-container */
}

/* ------------------------------
/*  -------    HEADER     -------
/* -----------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 9;
}

header nav {
  display: flex;
  height: 60px;
}

header #menu {
  display: none;
}

header #menu .fas,
header #menu .icon {
  cursor: pointer;
}

header #logo {
  align-self: center;
}

header #logo img {
  display: block;
  height: 100%;
  width: 188px;
  margin-right: 28px;
}

header .search-group {
  align-self: center;
  position: relative;
  width: 50%;
}

header .search {
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  padding: 0 0 0 31px;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  width: 100%;
}

header .search-group .icon,
header .search-group .fas {
  position: absolute;
  left: 11px;
  top: 13px;
}

header .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header a {
  padding-left: 10px;
  padding-right: 10px;
}

header .link {
  font-size: 18px;
  line-height: 160%;
  color: black;
  min-width: 40px;
  height: 27px;
  border-radius: 20px;
  padding: 6px;
  transition: background-color 0.1s linear, border-color 0.1s linear;
  padding-left: 10px;
  padding-right: 10px;
}

header .link:hover {
  background: #f2f2f2;
}

header .link + .link {
  margin-left: 10px;
}

header .link .icon,
header .link .fas,
header .link .fa {
  margin-right: 3px;
}

/* ------------------------------
/*  -------     MAIN     -------
/* -----------------------------*/

main {
  margin-top: 100px !important;
}

h1.title {
  font-size: 54px;
  line-height: 120%;
  color: #ff5d5d;
  margin-bottom: 20px;
}

main .title span {
  font-weight: 900;
}

#activities {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 30px;
}

#activities .activity:first-of-type {
  margin-left: 0;
}

#activities .activity {
  flex: 1;
  font-weight: bold;
  height: 89px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  color: black;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

#activities .activity.ship {
  display: none;
}

#activities .activity:hover {
  background: black;
  color: white;
}

.gallery {
  position: relative;
  height: 430px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.gallery img {
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.gallery img:hover {
  opacity: 0.7;
}

.gallery .main {
  flex: 1.5;
  margin-right: 3px;
}

.gallery img:last-child {
  margin-top: 3px;
}

.gallery .photos {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gallery .allpictures {
  position: absolute;
  bottom: 7px;
  left: 7px;
}

.gallery .allpictures a {
  height: 30px;
  line-height: 2.5;
  font-size: 12px;
}

.gallery .allpictures .icon,
.gallery .allpictures .fas {
  margin-right: 4px;
}

.locate {
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.city .location {
  display: flex;
  align-items: flex-start;
}

.city .location a:hover {
  text-decoration: underline;
}

.city .location .fas,
.city .location .icon {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 8px;
}

.city .location .point + .point {
  margin-left: 5px;
}

.city .location .visit {
  align-self: flex-end;
}

.city .about-city {
  display: flex;
}

.city .about-city {
  display: flex;
}

.city .about-city .text {
  flex: 1.5;
}

.city .about-city .text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.city .about-city .text p {
  font-size: 20px;
  line-height: 120%;
  padding-right: 17%;
}

.city .about-city .trip {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #ff5d5d;
  overflow: hidden;
}

.city .about-city .trip .start {
  padding: 30px;
}

.city .about-city .trip .start h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.city .about-city .trip .start .btn {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.city .about-city .trip .picture {
  width: 100%;
  height: 190px;
  position: relative;
}

.city .about-city .trip .picture::after {
  content: " ";
  position: absolute;
  background: url("/assets/img/map.png") white;
  width: 100%;
  height: 100%;
}

.list-do {
  display: flex;
}

.list-do > .card {
  flex: 0 0 300px;
}

.list-do > .card p {
  padding-right: 50px;
}

.list-do > .card a {
  font-size: 14px;
}

.elements {
  display: flex;
  margin-bottom: 30px;
}

.list-do .elements {
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list-do .elements::-webkit-scrollbar {
  display: none;
}

.musthave .elements .card {
  width: calc((100% / 3) - (30px / 3)) !important;
}

.list-do .elements .card {
  position: relative;
  flex-shrink: 0;
  width: calc((100% / 4) - (30px / 3));
  height: 100%;
}

.card .title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card a:hover .title {
  text-decoration: underline;
}

.list-do .card img {
  height: unset;
  display: block;
}

.list-do .elements .photo {
  position: relative;
}

.elements .card .photo::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: url("../img/trip.svg");
}

.list-do .card .notation {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-flex;
}

.list-do .card .notation svg {
  fill: var(--green);
  margin-right: 5px;
}

.list-do .card:hover img {
  opacity: 0.7;
  transition: opacity 0.3s linear;
}

.list-do .card .category {
  font-size: 14px;
}

.list-do .card .fas,
.list-do .card .far,
.list-do .card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.1s linear, border-color 0.1s linear;
}

.list-do .card .fas:hover,
.list-do .card .far:hover,
.list-do .card .icon:hover {
  cursor: pointer;
  background: #f2f2f2;
}

.list-do .card + .card {
  margin-left: 15px;
}

.guide .card {
  width: 33.33%;
}

.guide .card img {
  max-height: 250px;
}

.guide .card .nb {
  font-size: 14px;
}

.guide .card .by {
  margin-top: 5px;
}

.guide .card .by img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
}

.guide .elements .card + .card {
  margin-left: 15px;
}

.guide .elements .card + .card {
  margin-left: 15px;
}

.forum .elements {
  margin-top: 15px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.forum .card + .card {
  margin-left: 20px;
}

.forum .card {
  flex: 1;
  border-radius: 10px;
  background: var(--beige);
  padding: 30px;
}

.forum .card a {
  font-weight: bold;
}

.forum .card .from {
  margin-top: 30px;
}

.forum .card img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

section.list-do {
  display: block;
}

/* ------------------------------
/*  -------    FOOTER     -------
/* -----------------------------*/

footer {
  background: var(--beige);
  padding: 50px;
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
}
